<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout patient</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/addPatient.css">
</head>

<body>
<div id="menu" th:replace="bandeau"></div>

<div id="title"><h2>Add a patient</span></h2></div>

<div id="page">
<form id="form" method="post"  th:action="@{/view/patients/add/}" th:object="${patient}">
    <div class="nom">
        <label for="lastName">Last Name : </label>
        <input type="text" required="true" name="lastName" id="lastName"
               th:field="*{lastName}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <div class="prenom">
        <label for="firstName">First Name : </label>
        <input type="text" required="true" name="firstName" id="firstName"
               th:field="*{firstName}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div class="dateNaissance">
        <label for="dateOfBirth">Date of Birth : </label>
        <input type="text" pattern="^[0-9]{4}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))$"
               required="true" name="dateOfBirth" id="dateOfBirth"  th:field="*{dateOfBirth}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
    </div>
    <div class="sexe">
        <label for="sex">Sex : </label>
        <select id="sex" name="sex" th:field="*{sex}">
            <option th:each="s : ${T(report.model.Sex).values()}"
                    th:value="${s}"
                    th:text="${s.abbreviation}">
            </option>
        </select>
        <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
    </div>
    <div class="adresse">
        <label for="address">Addresse : </label>
        <input type="text" name="address" id="address" th:field="*{address}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
    </div>
    <div class="telephone">
        <label for="phone">Phone number : </label>
        <input type="text" name="phone" id="phone" th:field="*{phone}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
    </div>

    <div id="creation">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
    <div id="return" style="margin:auto">
        <a th:href="@{/view/}"><button class="btn btn-primary">Return</button></a>
    </div>
</div>

</body>
</html>