html
{
    height : 100%;
}

body
{
    height : 100%
}

#bandeau
{
    height : 15%;
    position : relative;
}

#title
{
    height : 5%;
    position : relative;
    text-align : center;
}

#info
{
    display : flex;
    flex-direction : column;
    height : 30%;
    position : relative;
    text-align : center;
    margin : auto;
    justify-content : space-around;
}

#return
{
     height : 5%;
     position : relative;
     text-align : center;
}

