<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bandeau</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
<div class="container-fluid menu">
    <div class="row" >
        <div class="col-xs-8 col-sm-9 align-self-center align-items-center" style="text-align:center; font-size:80px; color:darkgreen; font-weight: 500">
            Mediscreen
        </div>
        <div class="col-xs-4 col-sm-3 align-self-center align-items-center">
            <figure class="mx-auto mb-0 text-align-center">
                <img class="scaled" src="/img/logo.png" alt="Logo de Mediscreen" />
            </figure>
        </div>
    </div>
</div>
</body>